@use 'variaveis';

.header{
    display: inline-block;

    

    //hamburguer
    &__nav-icon{
        cursor: pointer;
        display: inline-block;
        margin: 10px;
        width: 30px;
        height: 20px;
        position: relative;

        &__span{
            background-color: variaveis.$CorTextoPrincipal;
            display: block;
            height: 2px;
            position: absolute;
            top: 50%;
            width: 100%;
            transition: all 0.3s ease-in-out;

            &:nth-child(1){
                transform: translateY(-6px);
            }
            &:nth-child(2){
                transform: translateY(-50%);
            }
            &:nth-child(3){
                transform: translateY(4px);
            }    

        }

        &.active{
            
            span{

            &:nth-child(1) {
            transform: translateY(-50%) rotate(-45deg);
            }
              
            &:nth-child(2) {
                opacity: 0;
              }
              
            &:nth-child(3) {
                transform: translateY(-50%) rotate(45deg);
              }
            }
        }
    }    

    &__nav-menu{
        display: none;
        
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li{
            margin: 10px;
        }
    
        &.active{
            display: block;
        }
    }

    //hamburguer


}